@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@400;700&display=swap');
@import "styles/colors";
@import "styles/mixins";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Ubuntu Mono', monospace;
}

#root {
  height: 100vh;
  width: 100vw;
  padding: 0 60px;
  display: flex;
  flex-direction: column;
}

input {

  margin: 10px 0;

  &[type=text], &[type=password] {
    width: 100%;
    padding: 10px;
    font-size: 25px;
    border: 1px solid $black;
    transition: opacity .2s ease-in-out;
  }

}
