@import "styles/colors.scss";
@import "styles/mixins";


.btn {
  font-size: 20px;
  padding: 10px 30px;
  background: transparent;
  border: 1px solid $black;
  cursor: pointer;
  user-select: none;
  transition: all .1s ease-in-out;

  &:hover {
    transform: scale(.95);
  }

  &:active {
    transform: scale(.9);
  }

  &.fuzzy {
    @include fuzzyBorder;

  }

  &.round {
    @include fuzzyBorder(50%, .5px, .6px);

    padding: 0;
    height: 30px;
    width: 30px;

    border-radius: 50%;
  }

}
