@import "src/styles/mixins", "src/styles/colors";

.field {
  @include fuzzyBorder(0, 0px, 0px, 2deg);

  display: flex;
  flex-direction: column;

  padding: 0;
  margin: 5px;
  user-select: none;

  &Row {
    display: flex;
  }

  &Cell {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    height: 100px;
    width: 100px;
    border: 2px solid $black;

    &Opponent {
      color: $red;
    }

    &Owner {
      color: $lightGreen;
    }
  }
}
