@import "src/styles/colors";

.game {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 100%;
  width: 100%;


  &Winner, &JoinButton {
    margin: 10px 0;
  }
}
